body {
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), "img/phone.jpg";
  background-size: cover;
  background-position: center;
  color: lime
}

header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 60px
}

h2 {
  color: rgb(156, 244, 213);
}

h3 {
  color: white;
  text-decoration: underline;
}

.container fluid {
  color: rgb(199, 204, 241);
  margin: 30px;
}
