body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(23, 205, 230);
}

.header {
  text-align: center;
  font-size: 20px;
  color: white;
  background-colour: white;
}

h3 {
  color: rgb(156, 244, 213);
}

.container {
  color: black;
  margin: 30px;
  background-color: white;
  border-radius: 20px;
}
